@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800;900&display=swap");
.wrapper {
  width: 90%;
  height: 100vh;
  max-width: 1400px;
  height: 100vh;
  margin: auto;
  position: relative;
  overflow: hidden; }
  @media (max-width: 767px) {
    .wrapper {
      display: flex;
      flex-direction: column; } }
  .wrapper .location {
    padding: 50px; }
    @media (max-width: 767px) {
      .wrapper .location {
        padding: 30px 0 0 0;
        order: 1;
        text-align: center; } }
    .wrapper .location .city {
      font-size: 32px;
      font-weight: 800;
      color: #fd593d;
      text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      padding-bottom: 10px;
      display: inline-block; }
    .wrapper .location .current-date {
      font-size: 20px;
      font-weight: 600; }
  .wrapper .current {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: 50px; }
    @media (max-width: 767px) {
      .wrapper .current {
        position: initial;
        order: 2;
        padding: 30px 0 0 0;
        text-align: center; } }
    .wrapper .current .weather {
      font-size: 32px;
      font-weight: 800;
      color: #fd593d;
      text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      padding-bottom: 10px; }
    .wrapper .current .hi-low {
      font-size: 20px;
      font-weight: 600; }
  .wrapper .temp {
    font-size: 150px;
    font-weight: 800;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
    @media (max-width: 767px) {
      .wrapper .temp {
        order: 3;
        font-size: 30vw; } }
  .wrapper .search-container {
    display: flex;
    align-content: center;
    justify-content: center;
    order: 4;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%); }
    .wrapper .search-container input {
      width: 250px;
      height: 40px;
      border-radius: 20px 0 20px 0;
      border-bottom: 4px solid #fd593d;
      outline: 0;
      padding-left: 20px;
      font-size: 16px;
      font-weight: 600;
      color: #fd593d; }
      .wrapper .search-container input::placeholder {
        font-size: 16px;
        color: #fd593d; }
    .wrapper .search-container input:focus::placeholder {
      color: transparent; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: url("../images/orange.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif; }
